<h1>Productos en Tiempo Real</h1>
<div id="productList" style="display: flex; flex-wrap: wrap;"></div>
<h2>Agregar Producto</h2>
<form id="productForm">
    <input type="text" name="title" placeholder="Título" required>
    <input type="text" name="description" placeholder="Descripción" required>
    <input type="text" name="code" placeholder="Código" required>
    <input type="number" name="price" placeholder="Precio" required>
    <input type="number" name="stock" placeholder="Stock" required>
    <input type="text" name="category" placeholder="Categoría" required>
    <button type="submit">Agregar</button>
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>