<h1>Registro de Producto</h1>
<form action="/api/products" method="POST">
    <label for="title">Título:</label>
    <input type="text" name="title" required>
    
    <label for="description">Descripción:</label>
    <input type="text" name="description" required>
    
    <label for="code">Código:</label>
    <input type="text" name="code" required>
    
    <label for="price">Precio:</label>
    <input type="number" name="price" required>
    
    <label for="stock">Stock:</label>
    <input type="number" name="stock" required>
    
    <label for="category">Categoría:</label>
    <input type="text" name="category" required>
    
    <button type="submit">Registrar</button>
</form>